#### DATA ENGINEERING PLATFORMS (MSCA 31012)
#### Introduction to Pandas (Python Data Analysis Library)

References & Useful Links: <br>
https://pandas.pydata.org/ <br>
https://github.com/rajathkmp/Python-Lectures <br>
https://developers.google.com/edu/python/introduction <br>
https://docs.python.org/3.7/tutorial/index.html <br>
https://medium.com/dunder-data/from-pandas-to-scikit-learn-a-new-exciting-workflow-e88e2271ef62 <br>

Python's main data package is Pandas. Pandas is built on top of Python's numerical package, NumPy. These two packages are essential when calculating, manipulating, and merging data. Specifically, Pandas is the foundation that we will use to perform the majority of our tasks when working with data. But before we get into that, let's go over some Python basics.

** Python Basics ** Python Data Structures and Indexing

What are the main Python Data Types/Structures?

Python has 6 data types:<br>

Numbers<br>
a. Int a = 10<br>
b. Float a = 10.54 (.) floating point real values<br>
c. Long a = 200L (L) Long integers; can be represented as ictal & hexadecimal<br>
d. Complex a = 3.14(J) Contains integer in the range of 0 - 255<br>
String 'Hello World'<br>
Boolean True or False<br>
List [1,4,5,6,7] { https://www.pythoncentral.io/python-lists-and-tuples/ }<br>
Tuple (1,5,6,7,8,9)<br>
Dictionary {'Illinois': 'Springfield', 'California': 'Sacramento', 'Texas': 'Austin'}<br>
The main data structures are 4-6 above and additional documentation can be found here https://docs.python.org/3.7/tutorial/datastructures.html<br>

In [1]:
# Indexing    
# La indexación básica es una forma de seleccionar filas, elementos de datos en su lista, cadena, diccionario, etc.
# La indexación de Python se basa en cero, lo que significa que el primer elemento se indexa en 0.

# Un ejemplo de una cadena y una lista
string1 = 'Good morning'
fruit_list = ['Apple','Orange','Banana','Grapefruit','Mango','Pear','Kiwi','Pineapple','Grapes']

In [2]:
# El ejemplo anterior devuelve un solo valor al indexar. El uso de los dos puntos ':' le permite dividir la lista/cadena para
# devolver varios valores. Al cortar, si deja el lado izquierdo de los dos puntos en blanco, se establecerá de forma predeterminada al principio de
# la estructura de datos Del mismo modo, al dejar en blanco el lado derecho de los dos puntos, devolverá todo hasta el final de
# la estructura de datos Por último, el lado derecho de los dos puntos incluirá hasta ese índice, pero NO lo incluirá.

# aquí tenemos unos ejemplos:

# imprimir toda la lista de frutas
print(fruit_list)

# Devuelve los primeros tres elementos en fruit_list
print(fruit_list[:3]) # or fruit_list[0:4]

# Devuelve todos los elementos excepto los primeros 3
print(fruit_list[3:])

# Devuelve los primeros 4 caracteres en string1
print(string1[0:4])

# Devuelve todos los elementos excepto los primeros 5 en string1
print(string1[5:])

['Apple', 'Orange', 'Banana', 'Grapefruit', 'Mango', 'Pear', 'Kiwi', 'Pineapple', 'Grapes']
['Apple', 'Orange', 'Banana']
['Grapefruit', 'Mango', 'Pear', 'Kiwi', 'Pineapple', 'Grapes']
Good
morning

In [3]:
## Para indexar el primer elemento, escriba el nombre de la variable, seguido de corchetes. Entre corchetes es donde
## para entrar en el índice. El primer elemento es 0. Para indexar el segundo elemento, use 1 y así sucesivamente.
## Indexar una cadena encontrará la letra/carácter de manera similar
## El uso de un índice negativo funcionará al revés, comenzando desde el final de la estructura de datos, es -1 devolverá el último
## elemento. 

# Imprime el primer elemento de fruit_list.
print(fruit_list[0])

# Imprime el tercer elemento de fruit_list.
print(fruit_list[2])

# Imprime el último elemento de fruit_list.
print(fruit_list[-1])

# Imprime el primer caracter de string1
print(string1[0])

# Imprime el séptimo carácter de string1
print(string1[6])

Apple
Banana
Grapes
G
o

In [4]:
# ejemplos adicionales
List1 = [1,2,3,5,8,6,78,25,14,98,65,32,7,18]
string2 = 'Si fallas en prepararte, prepárate para fallar.'

# imprimir cadena y lista
print(List1)
# resultado [1, 2, 3, 5, 8, 6, 78, 25, 14, 98, 65, 32, 7, 18]

# devuelve el 7.° elemento (8.° índice)
print(List1[8])
# resultado 14

# indexar los primeros 5 elementos
print(List1[0:6])
# resultado [1, 2, 3, 5, 8, 6]

# Devuelve el 4º y 5º elemento.
print(List1[3:5])
# resultado [5, 8]

# Use índice negativo para devolver el último elemento en la lista
print(List1[-1])
# resultado 18

# Use índice negativo para devolver los últimos 5 elementos
print(List1[-5:])
# resultado [98, 65, 32, 7, 18]

# print the string
print("\n")
print(string2)
# resultado Si fallas en prepararte, prepárate para fallar.

# Return 1st letter in string2
print(string2[0])
# resultado S

# Return letters indexed at 1:6
print(string2[1:6])
# resultado i fal

# Return last 5 characters
print(string2[-5:])
# resultado llar.

[1, 2, 3, 5, 8, 6, 78, 25, 14, 98, 65, 32, 7, 18]
14
[1, 2, 3, 5, 8, 6]
[5, 8]
18
[98, 65, 32, 7, 18]


Si fallas en prepararte, prepárate para fallar.
S
i fal
llar.

In [5]:
# ejemplo condicional ( if, else )

cond_list = [1,3,4,6,4]
if sum(cond_list) < 15:
    print("la suma es menos de 15")
else:
    print("la suma es mas de 15")

la suma es mas de 15

In [6]:
# ¿Cuál es la diferencia entre un bucle for y un bucle while?
# Un ciclo for se repetirá hasta que se agoten todos los elementos en la estructura de datos dada.
# Un ciclo while seguirá repitiéndose hasta que se cumpla una condición.
# Nota: tenga especial cuidado al usar un bucle while. Si no se hace correctamente, puede crear un bucle infinito.

# Para ejemplo de bucle
for fruit in fruit_list:
    if len(fruit) < 5:
        print(fruit)

Pear
Kiwi

In [7]:
# Ejemplo de bucle while
count = 0

while count < 10:
    print("El contador esta en %d" %count)
    count +=1

El contador esta en 0
El contador esta en 1
El contador esta en 2
El contador esta en 3
El contador esta en 4
El contador esta en 5
El contador esta en 6
El contador esta en 7
El contador esta en 8
El contador esta en 9

In [8]:
# Lista de comprensiones
# Al realizar cualquier tipo de análisis de datos, a menudo desea leer una lista, filtrar una lista, encontrar valores
# dentro de una lista, eliminar espacios en blanco de una lista o, más notablemente, crear una nueva lista a partir de otra lista. Tenga en cuenta que cuando
# utilice una 'lista', una columna de datos podría considerarse una lista. Una de las formas más eficientes de hacer todo lo que acabo de mencionar,
# es utilizar una lista de comprensión. En resumen, una lista de comprensión es una línea de código rápida que es esencialmente un bucle for.

# Veamos algunos ejemplos para ilustrar el poder de la comprensión de listas.

# Ejemplo usando list1 arriba
# List1 = [1,2,3,5,8,6,78,25,14,98,65,32,7,18]
list_c = [n*2 for n in List1]
list_c

[2, 4, 6, 10, 16, 12, 156, 50, 28, 196, 130, 64, 14, 36]

In [9]:
# Lista con operadores condicionales
list_c2 = [n*2 for n in List1 if n < 6]
list_c2

[2, 4, 6, 10]

#####  Functions
Antes de comenzar con nuestro tema de los pandas (y algunos números), repasaremos una parte vital de la programación, las funciones definidas por el usuario. Las funciones definidas por el usuario son útiles cuando crea un código que será repetible. Sería muy tedioso seguir escribiendo el mismo código una y otra vez para producir los mismos resultados. Algunos casos de uso relevantes incluyen la limpieza regular de un archivo, la realización de cálculos o la automatización de un proceso.

Sintaxis de funciones definidas por el usuario:
Para crear una función definida por el usuario, primero use la palabra clave 'def' seguida del nombre de su función (cualquier nombre que defina) seguido de parámetros (esto es opcional) que termina con paréntesis y dos puntos. Dentro de esta función, comience con su **cadena de documentos**, que es la documentación sobre lo que realiza su función, luego, el código, que debe estar escrito. Normalmente, el final de la función debería devolver o imprimir algo.

def function_name():    
&nbsp;&nbsp;&nbsp;&nbsp;your docstring     
&nbsp;&nbsp;&nbsp;&nbsp;your code     
&nbsp;&nbsp;&nbsp;&nbsp;return the output

**Docstring** está contenido entre comillas triples y debe usarse para describir la función.

In [10]:
# Los siguientes son algunos ejemplos.
# Ejemplo muy sencillo de devolución de la multiplicación de dos números
def multiply_by(x,y): # 'x' & 'y' son solo variables definidas por el usuario
    """ La función multiplicará dos números dados"""   # DocString
    return x*y

### Tenga en cuenta que la ubicación es importante dentro de los argumentos. Como x es primero, el valor asignado en ese parámetro será
### corresponde a la 'x'.

In [11]:
# Utilice la función multiplicar_por
multiply_by(5,3) # Esto devolverá el producto de 5 y 3

# La práctica común es que puede guardar el valor de esta función en otra variable para usarla más adelante.
product = multiply_by(5,3)

print(product)

15

In [12]:
# Imprimir la cadena de documentación
help(multiply_by)

Help on function multiply_by in module __main__:

multiply_by(x, y)
    La función multiplicará dos números dados

In [13]:
# Aunque la gran mayoría de las veces usaría parámetros, no es obligatorio. aquí hay otro ejemplo
# En este ejemplo, utilizaré un paquete pandas, por lo que necesitaremos importar el paquete
import pandas as pd

fruit_series = pd.Series(['Apple', 'Orange', 'Banana', 'Grapefruit', 'Mango', 'Pear', 'Pineapple', 'Kiwi', 'Grapes'])
def random_fruit():
    """
    La función utiliza la función de 'muestra' de pandas que seleccionará aleatoriamente una fruta de la lista.
    """
    return fruit_series.sample(1)

In [14]:
# Esta función devolverá aleatoriamente una fruta de fruit_series.
random_fruit()

3    Grapefruit
dtype: object

In [15]:
# También podemos especificar valores predeterminados para uno de los argumentos dentro de la función.
def n_root(x, y = 2):  # Si no especificamos el valor 'y', el valor predeterminado es 2.
    """
    Function will take the nth root of x. The default is 2, which will square x.
    """
    return x**y  # Exponentes

In [16]:
n_root(5)

25

In [17]:
n_root(2,5)

32

In [18]:
# También puede especificar dentro de los argumentos qué valor corresponde a la variable respectiva
n_root(y=3, x=5)

125

#### Pandas
Pandas es probablemente el paquete más utilizado en Python, especialmente para el análisis de datos. Es rápido, flexible y está diseñado para que trabajar con datos relacionales/etiquetados sea fácil e intuitivo. Hay dos tipos de estructuras de datos en pandas, una Serie (unidimensional, piense en una sola columna) y DataFrame (bidimensional, piense en datos tabulares). Hay un montón de cosas que los pandas pueden hacer. Aquí hay un enlace a algunos aspectos destacados:  [pandas](https://pandas.pydata.org/pandas-docs/stable/).

Además, pandas es la estructura de datos preferida cuando se trabaja con otros paquetes en el entorno de análisis avanzado y ciencia de datos.

Pandas no solo es excelente para wrangling/munging (disputar/mungear) y otros tipos de manejo (handling) de datos, sino que también está altamente optimizado para realizar cálculos y otras operaciones estadísticas. Esto se debe a que pandas se basa en NumPy, que es el paquete numérico para Python.

###### Importing Data
Python ofrece otras formas de importar datos a través de varios archivos. Sin embargo, como equipo de análisis de datos, es ideal si podemos colocar los datos en un marco de datos de pandas. Pandas puede importar diferentes tipos de archivos, como csv, excel, texto, json, incluso archivos sas. Vamos a sumergirnos en algunos ejemplos. Se trabajará en datos relacionados con quejas de un negocio.
Los otros tipos de archivos que los pandas pueden importar, click [here](https://pandas.pydata.org/pandas-docs/stable/io.html)

In [44]:
# Cuando trabaje con pandas, primero importe el paquete pandas y guárdelo como pd (esta es una convención estándar).
# Comencemos con un archivo de CSV.

import pandas as pd
movie_df = pd.read_csv('../../data/moviesCSV.csv')

# Lo que hace a continuación es garantizar que devolvamos un flotante en lugar de una notación científica
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [52]:
# Aquí, pandas asume que la primera columna es el encabezado. Si no hay encabezados, podemos usar el
# argumento de encabezado y configúrelo en Ninguno.
movie_df.head(4)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Column
0,Intolerance: Love's Struggle Throughout the Ages,1916.00,Drama|History|War,NaN,USA,Not Rated,123.00,1.33,385907.00,NaN,...,22.00,9.00,481.00,691.00,1.00,10718.00,88.00,69.00,8.00,NaN
1,Over the Hill to the Poorhouse,1920.00,Crime|Drama,NaN,USA,NaN,110.00,1.33,100000.00,3000000.00,...,2.00,0.00,4.00,0.00,1.00,5.00,1.00,1.00,4.80,NaN
2,The Big Parade,1925.00,Drama|Romance|War,NaN,USA,Not Rated,151.00,1.33,245000.00,NaN,...,12.00,6.00,108.00,226.00,0.00,4849.00,45.00,48.00,8.30,NaN
3,Metropolis,1927.00,Drama|Sci-Fi,German,Germany,Not Rated,145.00,1.33,6000000.00,26435.00,...,23.00,18.00,203.00,12000.00,1.00,111841.00,413.00,260.00,8.30,NaN

#### Indexing & Subsetting
#### Indexación y creación de subconjuntos
Ahora que sabemos cómo importar datos, es importante comprender la indexación y el corte. Esto es útil si está buscando datos de formas específicas. Puede pensar en la indexación y el corte como formas de filtrar los datos. Por ejemplo, tal vez solo queramos mirar ciertas columnas o filas, o tal vez mirar datos que tengan un cierto saldo o categoría.

Pandas tiene dos formas principales de indexar su marco de datos.

La primera forma es con el método iloc. .iloc se basa principalmente en la posición de números enteros (de 0 a la longitud 1 del eje), pero también se puede usar con una matriz booleana.

La otra forma es el método loc. .loc se basa principalmente en etiquetas, pero también se puede usar con una matriz booleana. .loc generará KeyError cuando no se encuentren los elementos.

La documentación se puede encontrar [aquí](https://pandas.pydata.org/pandas-docs/stable/indexing.html).

Para usar el método de indexación iloc o loc, agregue el método después del marco de datos seguido de corchetes. Dentro de los corchetes es donde indexamos.

Ejemplo:
df.iloc[selección de fila, selección de columna]
df.loc['row name/index name', 'column_name'] -> el número de índice se puede usar en lugar del nombre de la columna.

Veamos algunas de las formas de ver los datos.

In [51]:
# En estos ejemplos a seguir, veamos la película df que creamos.
movie_df.head(3)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Column
0,Intolerance: Love's Struggle Throughout the Ages,1916.00,Drama|History|War,NaN,USA,Not Rated,123.00,1.33,385907.00,NaN,...,22.00,9.00,481.00,691.00,1.00,10718.00,88.00,69.00,8.00,NaN
1,Over the Hill to the Poorhouse,1920.00,Crime|Drama,NaN,USA,NaN,110.00,1.33,100000.00,3000000.00,...,2.00,0.00,4.00,0.00,1.00,5.00,1.00,1.00,4.80,NaN
2,The Big Parade,1925.00,Drama|Romance|War,NaN,USA,Not Rated,151.00,1.33,245000.00,NaN,...,12.00,6.00,108.00,226.00,0.00,4849.00,45.00,48.00,8.30,NaN

In [49]:
# Antes de continuar, hagamos un control de calidad rápido para ver si hay filas duplicadas
movie_df.duplicated().sum()

11

In [53]:
# There are 45 duplicated rows. So, let's just drop them ( In other words dedup the dataset)
movie_df.drop_duplicates(inplace=True)
print(movie_df.duplicated().sum())
movie_df.reset_index(drop=True, inplace = True)

0

In [54]:
# Before we start using indexing, let's take a look at some of examples of subsetting the data. That is, using python 
# to look at data in a different way. Let's look at the columns in this dataframe.. use the .columns method
movie_df.columns

Index(['Title', 'Year', 'Genres', 'Language', 'Country', 'Content Rating',
       'Duration', 'Aspect Ratio', 'Budget', 'Gross Earnings', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3', 'Facebook Likes - Director',
       'Facebook Likes - Actor 1', 'Facebook Likes - Actor 2',
       'Facebook Likes - Actor 3', 'Facebook Likes - cast Total',
       'Facebook likes - Movie', 'Facenumber in posters', 'User Votes',
       'Reviews by Users', 'Reviews by Crtiics', 'IMDB Score', 'Column'],
      dtype='object')